.side-menu {
	position: absolute;
	height: 100vh;
	width: 200px;
	bottom: 0;
	// top: 4rem;
	background-color: white;
}

.management-area {
	position: absolute;
	top: 4rem;
	left: 200px;
	right: 0;
}


.flex-container {
	margin: 10px 25px;
}